body{
    /*background:#eee;*/
    background:#edf1ea;
    /*background: #222;*/
}

.navigation{
    background:#f8f8f8;
    border-bottom: 1px solid #e0e0e0;
}

.navigation a, .navigation a:link, .navigation a:visited{
    display:block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size:18px;
    color: #222;
    padding:15px;
    margin:0;
    background:transparent;
    border-left:1px solid #e0e0e0;
    transition: all 250ms;
}

.navigation .row div:last-of-type a{
    border-right:1px solid #e0e0e0;
}

.navigation a:hover, .navigation a:active, .navigation a:focus{
    /*background:#fff;
    color: #58a518;
    background: #58a518;*/
    color: #000;
    background:#fff;
    
}

.navigation .link{
    margin:0;
    padding:0;
}

/* brand banner */

.brand-banner{
    /*height: 100px;*/
    padding:10px;
    background: #222;
    color:#eee;
    border-top:1px solid #000;
    border-bottom: 1px solid #000;
    overflow: hidden;
}

.brand-banner .logo{
    max-height: 80px;
}

/* content */

.content{
    background:#f8f8f8;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}

.content > .container{
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

/* betaalmethods */

.paying{
    background:#f8f8f8;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
    padding: 15px;
    text-align: center;
}

.pay-option{
    background:#888;
    border-radius: 4px;
    color:#fff;
    font-size:10px;
    text-align: center;
    padding:8px;
    margin:4px;
    font-weight: bold;
    text-transform: uppercase;
    display:inline-block;
}

.pay-option.wit{
    background: #ddd;
    color: #000;
}

.pay-option.zwart{
    background:#222;
    color:#fff;
}

/* footer */

.footer{
    background:#f0f0f0;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
    padding: 30px;
}



@media screen and (max-width: 768px) {
    .navigation a, .navigation a:link, .navigation a:visited{
        border:none;
    }
    .navigation .row div:last-of-type a{
        border-left: 1px solid #e0e0e0;
    }
    .navigation .row div:first-of-type a{
        border-bottom: 1px solid #e0e0e0;
    }
}