<!-- Metro CSS
Only gets used in this file and conflicts if importen in index.html
-->
<link href="./css/metro/metro.css" rel="stylesheet">
<link href="./css/metro/metro-icons.css" rel="stylesheet">
<link href="./css/metro/metro-responsive.css" rel="stylesheet">
<link href="./css/metro/metro-schemes.css" rel="stylesheet">
	

<!-- header in een jumbotron-->
<div class="container">
  <div class="jumbotron">
    <h1>Klanten</h1>
    <p>Selecteer een klant om meer informatie te bekijken</p>
  </div>
 </div>
<!-- repeat dit voor alle klanten -->
<div class="container">
	<!-- voorbeeld met Image -->
	<div class="tile bg-cobalt" data-click="transform">
		<div class="tile-content">
			<div class="image-container">
				<div class="frame">
					<img src="./images/pxl.png">
				</div>
			</div>
		</div>
	</div>
	<!-- voorbeeld met text zonder image-->
		<!-- Tile with label and icon -->
		<div class="tile bg-cobalt">
			<div class="tile-content iconic fg-white">
				<span class="icon mif-envelop"></span>
				<span class="tile-label">Amazon</span>
			</div>
		</div>
</div>